.data {
    width: 50%;
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-gap: 5px 5px;
    justify-content: space-around;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    grid-template-areas:
    "phonearticle phone"
    "emailarticle email"; 
}

.phone, .email, .phonearticle, .emailarticle {
    border: 1px solid black;
    height: 30px;
    padding: 5px;
}

.phone {
    grid-area: phone;
    
}

.email {
    grid-area: email;
}

.phonearticle {
    grid-area: phonearticle;
}

.emailarticle {
    grid-area: emailarticle;
}