.item {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 30% 20% 25% 15% ;
    justify-content: space-around;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
}

.avatar, .name, .phone, .email {
    border: 1px solid black;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 50px;
    height: 59px;
}

.button {
    border: 1px solid black;
}